body {
    background-color: mediumslateblue;
}

.calculator {
    padding: 5px;
    border-radius: 5px;
    width: 20rem;
    height: 25rem;
    background-color: rgb(76, 211, 204);
    margin: 20vh auto;
}

.output {
    border-radius: 5px;
    display: flex;
    align-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 3rem;
    background-color: whitesmoke;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;

}

.input {
    
    margin-top: 40px;
    display: grid;
    grid-template: repeat(4,3rem) / repeat(4,24%);
}

.option-btn {
    margin: 5px;
    background-color: powderblue;
    transition: background-color .3s;
    border-radius: 5px;

}

button:hover {
    background-color: rgb(50, 118, 128);
}